body {background-color: coral;}
#barmenu {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            }
.bar-items {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            float: left;
            }
#baritems:hover {
            background-color: #777;
                }
.content{					
            Font-family:"Lucida Console", Monaco, monospace;
}
.title{
	Font-Family:Georgia, serif;
	color:
                       
}
.hello-gif{
            border:solid;
}
.hobbies{
            font-family: "Times New Roman", Times, serif;         
}
