body {
            background-color: #ADD8E6;
            }
#barmenu {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            }
#baritems {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            float: left;
            }
#baritems:hover{
        background-color: #777;
            }
iframe{
            height:500px;
            width:500px;
            }
.about-me{
            font-family:Helvetica;
            }
.hello-gif{
            width:350px;
            height:150px;
            }
.title{
            Font-family: Apple Chancery;
            }
#favoritehobby:hover{
            color:green;
            }
#aboutme{
            Font-family: Apple Chancery;
            }
